@import "tailwindcss";

@font-face {
  font-family: Minecraft;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/Minecraft.otf") format("opentype");
}

.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;

  background-color: var(--color-stone-800);
  border-color: var(--color-zinc-500);
  border-bottom-width: 4px;
  border-right-width: 4px;
  border-left-width: 2px;
  border-top-width: 2px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--color-stone-800);
  border-color: var(--color-zinc-500);
  border-bottom-width: 4px;
  border-right-width: 4px;
  border-left-width: 2px;
  border-top-width: 2px;
}

.mc-border {
  border-color: var(--color-zinc-500);
  border-bottom-width: 4px;
  border-right-width: 4px;
  border-left-width: 2px;
  border-top-width: 2px;
}

.input-style {
  padding: 4px 4px 4px 4px;
  background-color: var(--color-stone-800);
  border-color: var(--color-zinc-500);
  border-bottom-width: 4px;
  border-right-width: 4px;
  border-left-width: 2px;
  border-top-width: 2px;
}

.header > li > a {
  background-color: var(--color-stone-800);
  color: var(--color-zinc-300);

  padding: 8px 32px 8px 32px
}

.header > li > a:hover {
  background-color: var(--color-stone-700);
}
